<ion-header>
  <ion-navbar>
    <ion-title>
      Hand Range
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="row" *ngFor="let row of tablesPerPlayer[numOfPlayers]" >
      <ion-col class="col" *ngFor="let col of row"
               [ngClass]="{green: col > (100 - range)}">
        {{formatPercentage(col)}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-range min="0" max="100" step="1"
                 color="primary"
                 [(ngModel)]="range">
        <ion-label range-left>Range</ion-label>
        <ion-label range-right>{{range}}%</ion-label>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-range min="2" max="10" step="1" snaps="true" color="primary"
                 [(ngModel)]="numOfPlayers">
        <ion-label range-left>Players</ion-label>
        <ion-label range-right>{{numOfPlayers}}</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>
